/* Reset default margin and padding */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
}

/*Styling logo*/
.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1vh 1vw;
    text-align: center;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
}


.logo img {
    height: 5rem;
    width: 5rem;
}

.logo a {
    color: #000;
    text-decoration: none;
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    padding: 0 10rem;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    gap: 1rem;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
    color: #000000;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
        width: 100vw;
    }

    .logo span {
        font-size: 1.2rem;
        font-weight: bold;
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        padding: 0;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        color: #fff;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}

/* end of navbar */


/* Banner code */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.banner-content img {
    max-width: 100%;
    height: auto;
}

.banner-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner-description {
    margin: 3rem 0;
    color: #414141;
}

.banner-content button {
    background-color: #014dac;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.banner-content a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .banner-img {
        width: 550px;
    }

    .banner-content h1 {
        font-size: 30px;
    }

    .banner-description {
        margin: 1.5rem 0;
        font-size: 20px;
    }

    .banner-content button {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        flex-direction: column;
        /* align-items: center; */
    }

    .banner-img {
        min-width: 100vw;
    }

    .banner-content h1 {
        font-size: 24px;
    }

    .banner-description {
        margin: 1rem 0;
        font-size: 17.5px;
    }

    .banner-content button {
        font-size: 20px;
        padding: 10px 12px;
    }
}

@media screen and (max-width: 490px) {
    .banner {
        flex-direction: column;
    }

    .banner-content h1 {
        font-size: 25px;
    }

    .banner-description {
        margin: 1rem 0;
    }

    .banner-content button {
        font-size: 20px;
        padding: 10px 8px;
    }
}

/* end of banner code  */

/* my package code */
.packages,
.package-title {
    text-align: center;
    padding: 3rem 0;
}

.packages button {
    background-color: #014dac;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
}

.packages a {
    text-decoration: none;
    color: #fff;
}

.package-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15rem;
    text-align: center;
    padding: 4rem 0;

}

.package-image {
    position: relative;
}

.white-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0.5rem 2rem;
    margin: 0 auto;
}

.description-box {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 10px;
}

.package-description {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .package-image {
        padding: 1rem 0;
    }

    .package-images {
        gap: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .package-images {
        flex-direction: column;
        gap: 5rem;
    }

    .package-image {
        padding: 2rem 0;
    }
}

@media screen and (max-width: 490px) {
    .package-images {
        gap: 2rem;
    }


    .package-image img {
        width: 100%;
        padding: 1rem 0;
    }

    .package-description {
        font-size: 16px;
    }

    .packages button {
        margin-top: 5rem;
    }
}

/* end of my package code */

/* consultation code */
.consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultation-button {
    background-color: #014dac;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
}

.consultation-button a {
    text-decoration: none;
    color: #fff;
}

.consultation-title,
p {
    text-align: center;
    margin: 1rem 0;
    color: #48525B;
}

.consultation-description {
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.consultation-content {
    display: flex;
    justify-content: space-between;
    margin: 0 20rem;
    align-items: center;
    text-align: left;
}

.consultation-content h1 {
    font-weight: 300;
    font-size: 25px;
    padding: 2rem 0;
}

.price-container {
    background-color: #014dac;
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 20px;
}

.consultation-container {
    margin: 0 2rem;
}

.img-container {
    position: relative;
}

.consultation-img {
    position: absolute;
    right: 0;
    overflow: hidden;
    bottom: 10%;
    width: 15%;
}

/* responsive  */

@media screen and (max-width: 1440px) {
    .consultation-content {
        margin: 0 4rem;
        align-items: center;
        text-align: left;
    }
}

@media screen and (max-width: 1024px) {

    .consultation-content {
        margin: 0 2rem;
        align-items: center;
        text-align: left;
    }

    .img-container {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .consultation-content {
        margin: 0 2rem;
        align-items: center;
        text-align: left;
    }

    .consultation-description {
        font-size: 15px;
    }

    .consultation-container h1 {
        font-size: 20px;
    }

    .img-container {
        display: none;
    }
}


@media screen and (max-width: 490px) {

    .consultation-content {
        display: flex;
        flex-direction: column;
    }

    .consultation-content {
        margin: 0 1rem;
    }

    .consultation-container h1 {
        font-size: 18.6px;
    }

    .consultation-container h1:nth-child(7) {
        font-size: 16px;
    }

    .consultation-button {
        width: 100%;
    }

}

/* end of package code */

/* Footer  */
#footer {
    background-color: #94C4FF;
    padding: 1rem 1rem;
    margin-top: 1rem;
}

.footer-title {
    color: #014DAC;
}

.footer-location {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.footer-loc-info {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: bold;
    color: #014DAC;
    padding: 1rem 0;

}

.social-info a {
    text-decoration: none;
    color: #014DAC;
    padding: 0 1rem;
}

.info-instagram,
.info-phone {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width: 490px) {

    .footer-location {
        /* flex-direction: column; */
        gap: 1rem;
    }

    .info-instagram,
    .info-phone {
        margin: 1rem 0;
        display: flex;
    }

    .info-instagram {
        font-size: 15px;
    }

    .info-phone {
        font-size: 15px;
    }

    .footer-loc-info {
        font-size: 15px;
    }
}

/* end of footer code */