/* Reset default margin and padding */
body,
html {
    margin: 0;
    padding: 0;
}

/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

/* navbar */
/* Navigation */
.navigation {
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo {
    width: 10%;
}

.nav-title {
    margin: 0 1.4rem;
    font-size: 2.1rem;
    flex: 1;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    cursor: pointer;
}

.nav-toggle span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: #000;
    border-radius: 2px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
    list-style: none;
    margin-right: 5rem;
}

.nav-link a {
    color: #000;
    text-decoration: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navigation {
        flex-wrap: wrap;
        margin: 0;
    }

    .nav-logo {
        width: 30%;
        margin-top: 1rem;
    }

    .nav-title {
        font-size: 1.6rem;
        margin: 0 1rem;
        flex: 2;
    }

    ul {
        flex: 1;
        margin: 1rem 0;
        margin-right: 0;
        justify-content: space-between;
    }

    .nav-link {
        margin-right: 0;
    }
}

/* end of navbar */